<mat-form-field class="example-form-field">
  <mat-label>Company Ticker</mat-label>
  <input #ticker matInput type="text" (blur)="inputTicker(ticker.value)"/>

</mat-form-field>
<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
  <mat-icon>close</mat-icon>
</button>
<button mat-button matSuffix mat-icon-button aria-label="Search" (click)="click()"><mat-icon>search</mat-icon></button>
<br />
<mat-form-field appearance="fill">
  <mat-label>Start Date</mat-label>
  <input matInput [matDatepicker]="startDatePicker" (dateInput)="OnDateChange('startDate', $event.value)">
  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #startDatePicker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>End Date</mat-label>
  <input matInput [matDatepicker]="endDatePicker">
  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #endDatePicker></mat-datepicker>
</mat-form-field>
